{% load django_select2_tags %}

<html>
    <head>
        <title>Startpage</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        {% import_django_select2_js_css %}
    </head>
    <body>
        <h1>Startpage</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at ex impedit quas soluta? Debitis dolorem earum et exercitationem hic maiores molestiae obcaecati optio placeat possimus, ratione, sunt ut voluptate.</p>
        <form>
            {{ form }}
        </form>
    </body>
</html>
